@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,600;1,500;1,600&family=Lato:ital,wght@0,400;1,100;1,300&family=Montserrat:ital,wght@0,300;0,400;1,200;1,300&family=PT+Sans:ital@1&family=Roboto:ital,wght@0,400;1,300;1,400&family=Source+Sans+Pro:ital,wght@0,200;0,300;1,200&family=Ubuntu+Mono:ital,wght@1,400;1,700&family=Ubuntu:ital,wght@0,700;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
}

:root{
     --karlo : 'Karla', sans-serif;
     --lato : 'Lato', sans-serif;
     --monster : 'Montserrat', sans-serif;
     --sans : 'PT Sans', sans-serif;
     --roboto : 'Roboto', sans-serif;
     --sansPro : 'Source Sans Pro', sans-serif;
     --ubuntu : 'Ubuntu', sans-serif;
     --mono : 'Ubuntu Mono', monospace;
}


html{
    scroll-behavior: smooth;
}

body{
    line-height: 1.4;
}
img{
    width: 100%;
    height: 100%;
    display: block;
}

.container{
    max-width: 90%;
    margin: 0 auto;
}

.header{
    width: 100%;
    
    background-image: url(/img/banner.jpg);
    background-size: cover;
}
.navigation{
    position: fixed;
    width: 100%;
    height: 14vh;
    background-color: #2D67D0;
    border-bottom: 15px solid #000;
    z-index: 1;

}
.navbar{
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .navbar__nav a{
    font-family: var(--monster);
    font-size: 1.1rem;
    color: #fff;
    margin-left: 15px;
    margin-right: 15px;
    transition: 0.5s linear;
}
.navbar .navbar__nav .fa-search{
    color: #fff;
}
.navbar .navbar__nav a:hover{
    color: rgb(4, 225, 250);
}
.banner{
    width: 100%;
    padding: 4.8rem  0;
}
.banner__content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}
.banner__item{
    margin-top: 2rem;
}
.banner__item h1{
    color: #51FE44;
    font-family: var(--sansPro);
    font-size: 6rem;
    letter-spacing: 2px;
    font-weight: 100;
    margin-bottom: 1rem;
}
.banner__item span{
    color: #fff;
    font-family: var(--sansPro);
    font-size: 2rem;
    font-weight: 100;
}
.banner__item p{
    margin-top: 1rem;
    color: #fff;
    font-size: 1rem;
    text-align: justify;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}
.banner__item button{
    width: 120px;
    height: 6vh;
    border-radius: 10px;
    border: 1px solid white;
    margin-left: 10px;
    font-size: 1.3rem;
    transition: all 0.5s linear;
}
.banner__item button:hover{
    background-color: #000;
    color: #fff;
}
.avto{
    width: 100%;
    padding: 4.8rem 0;
}
.avto__content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}
.avto__item{
   text-align: center;
   background-color: whitesmoke;
   padding: 0.5rem 0.5rem;
   cursor: pointer;
   border-radius: 10px;
   box-shadow: 2px 2px 20px grey;

}
.avto__item h2{
    font-family: var(--ubuntu);
    margin-bottom: 1rem;
}
.avto__item .avto__img{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.avto__item p{
    text-align: justify;
    font-family: var(--lato);
    margin-bottom: 0.5rem;
}
.about{
    width: 100%;
    padding: 4.8rem 0;

}
.about__title{
    text-align: center;
}
.about h2{
    display: inline-block;
    font-family: var(--monster);
    font-size: 3rem;
    border-bottom: 1px solid #000;
    
}

.what{
    width: 100%;
    padding: 4.8rem 0;
    text-align: center;
}
.what__title{
    text-align: center;
    margin-bottom: 3rem;
}
.what__title h2{
    display: inline-block;
    border-bottom: 1px solid #000;
    font-family: var(--lato);
    font-size: 3rem;
    margin-bottom: 1rem;
}
.what__title  p{
    font-family: var(--sans);
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.what__content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}
.what__item{
    cursor: pointer;
    position: relative;
}
.what__hover{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
    opacity: 0;
    transition: all 1s linear;
}
.what__hover h2{
    color: green;
}
.what__hover span{
    color: white;
}
.what__item:hover .what__hover{
    opacity: 1;
}
.what button{
    width: 120px;
    height: 6vh;
    border: none;
    font-size: 1.3rem;
    background-color: #000;
    border-radius: 25px;
    margin-top: 3rem;
    color: white;
    font-family: var(--sansPro);
    transition: all 0.5s linear;
}
.what button:hover{
    background-color: #51FE44;
    color: red;
 
}

.testimonial{
    width: 100%;
    padding: 4.8rem 0;

}
.testimonial__title{
    text-align: center;
}
.testimonial__title h2{
    display: inline-block;
    border-bottom: 1px solid #000;
    font-family: var(--sans);
    font-size: 3rem;
    margin-bottom: 1rem;
}
.testimonial__content{
    margin-top: 5rem;
    background-color: #2b2b2b;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem;
    padding: 2rem 1rem;
}
.test__mix{
    display: flex;
    justify-content: space-between;
    color: #fff;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.testimonial__title h2{
    font-family: var(--karlo);
    font-size: 2rem;
}
.testimonial .title p{
    color: #fff;
    font-family: var(--sansPro);
}
.map{
    width: 100%;
    padding: 4.8rem 0;
    background-color: #141629;
}
.map__title{
    display: flex;
    justify-content: space-between;

}
.map__title a{
    color: #fff;
    font-family: var(--roboto);
    font-size: 1.4rem;
}
.contact__content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin-top: 6rem;
    border-bottom: 1px solid #fff;
}
.contact__content form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.contact__content form input{
    height: 6vh;
    font-size: 1.5rem;
    text-indent: 10px;
    font-family: var(--lato);
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
}
.contact__content form textarea{
    height: 8vh;
    font-size: 1.5rem;
    text-indent: 10px;
    font-family: var(--lato);
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
}
.conatct__footer{
    display: flex;
    justify-content: space-between;
}
.conatct__footer button{
    color: #fff;
    background-color: #000;
    width: 120px;
    height: 6vh;
    border: none;
    border-radius: 25px;
    box-shadow: 2px 2px 20px white;
    transition: all 0.5s linear;
    font-size: 1.3rem;
}
.conatct__footer button:hover{
    color: whitesmoke;
    background-color: green;
    box-shadow: 2px 2px 20px blue;
}
.social_media .fa-brands{
     color: #fff;
     font-size: 1.5rem;
     margin-left: 10px;
     margin-right: 10px;
     transition: all 0.5s linear;
}
.social_media .fa-brands:hover{
    color: green;
}
.footer{
    width: 100%;
    padding: 2rem 0;
    background-color: #2b2b2b;
    text-align: center;
}
.footer p{
    font-size: 1.2rem;
    font-family: var(--sansPro);
    letter-spacing: 1px;
    color: white;
}
@media only screen and (max-width:768px){
    .navbar__nav a{
        display: none;
    }
    .banner__content{
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .avto__content{
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .what__content{
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .testimonial__content{
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    .contact__content{display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}
.navbar__nav .fa-bars{
    color: #fff;
    font-size: 1.5rem ;
    display: none;
}